body{
    background-color: rgb(221, 221, 50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}
.login{
    text-align: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 15px;
    width: 40%;
    margin: 100px 300px;
    padding: 50px;
}
button{
    border-radius: 10px;
    width: 80%;
    height: 45px;
    background-color: red;
    color: pink;
    
}
input{
    border-radius: 10px;
    width: 50%;
    height: 30px;
    color: #000;
}
button:hover{
    background-color: yellow;
    color: black;
    scale: 1.1;
    transition-duration: 0.5s;
}
input:hover{
    scale: 1.1;
    transition-duration: 0.5s;
}
.cad{
    border-style: solid;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    padding: 50px;
    margin: 60px 150px;
}
